@font-face {
  font-family: "NataSans";
  src: url("./NataSans.ttf") format("truetype");
}

#temp-header {
  display: flex;
  gap: 10px;
}
#moveable-area {
  width: 600;
  height: 600px;
  background-color: #383e48;
  position: relative;
  box-sizing: border-box;
}
#duplicate-button {
  display: flex;
  font-size: large;
  text-align: center;
  justify-content: center;
  max-height: 20px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  height: 0;
  margin: 0;
  padding: 4px;
  background-color: #23272d;
  color: #abb2bf;
  font-family: "NataSans";
}

/* Connection Formatting */
#connections {
  height: 100%;
  width: 100%;
}

/* Context Menu Formatting */
.context-menu {
  position: absolute;
  text-align: center;
  background: #21252b;
  border: none;
  z-index: 1000;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 75px;
  list-style: none;
}

.context-menu ul li {
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: small;
}

.context-menu ul li button {
  background: none;
  border: none;
  color: #abb2bf;
  width: 95%;
}
.context-menu ul li button:hover {
  background: darkgray;
  color: #dbe2f0;
}

/* Post-It Formatting */
.post-it {
  width: 145px;
  position: absolute;
  container-type: inline-size;
  box-shadow: 2px 2px 5px #131518;
}
.post-it.dragged {
  position: absolute;
  container-type: inline-size;
  box-shadow: 5px 5px 5px #08080a;
}
.post-it-body {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #ffeba1;
}
.post-it-content {
  height: 100%;
  width: 100%;
  transform-origin: left;
  background: none;
  outline: none;
  border: none;
  resize: none;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "NataSans";
  color: #23272d;
}
.post-it-form {
  height: 100%;
  width: 100%;
}
.post-it-header {
  width: 100%;
  height: 25px;
  background-color: #c2b37d;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 4px 4px 0px 0px;
  align-items: center;
  justify-content: center;
}
.post-it-header-state {
  color: #978b5f;
  font-weight: normal;
}
.post-it-header-state.selected {
  color: #e34d50;
  font-weight: bold;
}

